<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="shortcut icon" type="image/png" href="img/favicon.png"/>
	<link rel="stylesheet" href="css/style.min.css">
	<link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro" rel="stylesheet">
	
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>	
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
  <title>Meme Generator</title>
</head>

<body>

	<div class='leftSidebar'>
		<div class='leftSidebar-item-wrapper'>
			<span><img src='/img/mm-home-on.svg'/></span>
			<span><img src='/img/mm-section-off.svg'/></span>
			<span><img src='/img/mm-create-off.svg'/></span>
		</div>
	</div>

	<div class='container header'>
		<img src='/img/memegenerator-purple.svg'/>
		<span class='header-login'>Login</span>
	</div>

	<div class='rightBar'>
		<span class='Facebook'>Facebook</span>
		<span class='Twitter'>Twitter</span>
		<span class='Instagram'>Instagram</span>
	</div>

	<div class="container main-content">

		<div class='grid'>
			
			<div class="meme-wrapper">
					
					<div class="meme-image-wrapper">
						<div class='meme-image-overlay'>
							<span>Like this meme</span>
						</div>
						<img src='/img/memes/0exocyn5o7221.jpg'/>
					</div>
					
					<div class='meme-description-wrapper'>
						
						<div class='meme-description-top'>
							<span class='meme-description-top-points'>420 points</span>
							<img class='meme-description-top-share' src='/img/icon-share.svg'/>
						</div>
						
						<div class='meme-description-bottom'>
							<div class='meme-description-bottom-user'>
								<img src='/img/newprofileimg.png'>
								<span>Marc Wilson</span>
							</div>
							<span class='meme-description-bottom-time'>5h</span>
						</div>
					
					</div>

			</div>

			<div class="meme-wrapper">
					
					<div class="meme-image-wrapper">
						<div class='meme-image-overlay'>
							<span>Like this meme</span>
						</div>
						<img src='/img/memes/lpih2t1w06221.png'/>
					</div>
					
					<div class='meme-description-wrapper'>
						
						<div class='meme-description-top'>
							<span class='meme-description-top-points'>420 points</span>
							<img class='meme-description-top-share' src='/img/icon-share.svg'/>
						</div>
						
						<div class='meme-description-bottom'>
							<div class='meme-description-bottom-user'>
								<img src='/img/newprofileimg.png'>
								<span>Marc Wilson</span>
							</div>
							<span class='meme-description-bottom-time'>5h</span>
						</div>
					
					</div>

			</div>

			<div class="meme-wrapper">
					
					<div class="meme-image-wrapper">
						<div class='meme-image-overlay'>
							<span>Like this meme</span>
						</div>
						<img src='/img/memes/EyoWoxg.jpg'/>
					</div>
					
					<div class='meme-description-wrapper'>
						
						<div class='meme-description-top'>
							<span class='meme-description-top-points'>420 points</span>
							<img class='meme-description-top-share' src='/img/icon-share.svg'/>
						</div>
						
						<div class='meme-description-bottom'>
							<div class='meme-description-bottom-user'>
								<img src='/img/newprofileimg.png'>
								<span>Marc Wilson</span>
							</div>
							<span class='meme-description-bottom-time'>5h</span>
						</div>
					
					</div>

			</div>

			<div class="meme-wrapper">
					
				<div class="meme-image-wrapper">
					<div class='meme-image-overlay'>
						<span>Like this meme</span>
					</div>
					<img src='/img/memes/EyoWoxg.jpg'/>
				</div>
				
				<div class='meme-description-wrapper'>
					
					<div class='meme-description-top'>
						<span class='meme-description-top-points'>420 points</span>
						<img class='meme-description-top-share' src='/img/icon-share.svg'/>
					</div>

					<div class='meme-description-bottom'>
						<div class='meme-description-bottom-user'>
							<img src='/img/newprofileimg.png'>
							<span>Marc Wilson</span>
						</div>
						<span class='meme-description-bottom-time'>5h</span>
					</div>
				
				</div>

			</div>

			<div class="meme-wrapper">
					
					<div class="meme-image-wrapper">
						<div class='meme-image-overlay'>
							<span>Like this meme</span>
						</div>
						<img src='/img/memes/lpih2t1w06221.png'/>
					</div>
					
					<div class='meme-description-wrapper'>
						
						<div class='meme-description-top'>
							<span class='meme-description-top-points'>420 points</span>
							<img class='meme-description-top-share' src='/img/icon-share.svg'/>
						</div>
						
						<div class='meme-description-bottom'>
							<div class='meme-description-bottom-user'>
								<img src='/img/newprofileimg.png'>
								<span>Marc Wilson</span>
							</div>
							<span class='meme-description-bottom-time'>5h</span>
						</div>
					
					</div>

			</div>

			<div class="meme-wrapper">
					
					<div class="meme-image-wrapper">
						<div class='meme-image-overlay'>
							<span>Like this meme</span>
						</div>
						<img src='/img/memes/lpih2t1w06221.png'/>
					</div>
					
					<div class='meme-description-wrapper'>
						
						<div class='meme-description-top'>
							<span class='meme-description-top-points'>420 points</span>
							<img class='meme-description-top-share' src='/img/icon-share.svg'/>
						</div>
						
						<div class='meme-description-bottom'>
							<div class='meme-description-bottom-user'>
								<img src='/img/newprofileimg.png'>
								<span>Marc Wilson</span>
							</div>
							<span class='meme-description-bottom-time'>5h</span>
						</div>
					
					</div>

			</div>

			<div class="meme-wrapper">
					
				<div class="meme-image-wrapper">
					<div class='meme-image-overlay'>
						<span>Like this meme</span>
					</div>
					<img src='/img/memes/ts4yow43y5221.png'/>
				</div>
				
				<div class='meme-description-wrapper'>
					
					<div class='meme-description-top'>
						<span class='meme-description-top-points'>420 points</span>
						<img class='meme-description-top-share' src='/img/icon-share.svg'/>
					</div>

					<div class='meme-description-bottom'>
						<div class='meme-description-bottom-user'>
							<img src='/img/newprofileimg.png'>
							<span>Marc Wilson</span>
						</div>
						<span class='meme-description-bottom-time'>5h</span>
					</div>
				
				</div>

			</div>

			<div class="meme-wrapper">
					
					<div class="meme-image-wrapper">
						<div class='meme-image-overlay'>
							<span>Like this meme</span>
						</div>
						<img src='/img/memes/lpih2t1w06221.png'/>
					</div>
					
					<div class='meme-description-wrapper'>
						
						<div class='meme-description-top'>
							<span class='meme-description-top-points'>420 points</span>
							<img class='meme-description-top-share' src='/img/icon-share.svg'/>
						</div>
						
						<div class='meme-description-bottom'>
							<div class='meme-description-bottom-user'>
								<img src='/img/newprofileimg.png'>
								<span>Marc Wilson</span>
							</div>
							<span class='meme-description-bottom-time'>5h</span>
						</div>
					
					</div>

			</div>

			<div class="meme-wrapper">
					
					<div class="meme-image-wrapper">
						<div class='meme-image-overlay'>
							<span>Like this meme</span>
						</div>
						<img src='/img/memes/EyoWoxg.jpg'/>
					</div>
					
					<div class='meme-description-wrapper'>
						
						<div class='meme-description-top'>
							<span class='meme-description-top-points'>420 points</span>
							<img class='meme-description-top-share' src='/img/icon-share.svg'/>
						</div>
						
						<div class='meme-description-bottom'>
							<div class='meme-description-bottom-user'>
								<img src='/img/newprofileimg.png'>
								<span>Marc Wilson</span>
							</div>
							<span class='meme-description-bottom-time'>5h</span>
						</div>
					
					</div>

			</div>

			<div class="meme-wrapper">
					
				<div class="meme-image-wrapper">
					<div class='meme-image-overlay'>
						<span>Like this meme</span>
					</div>
					<img src='/img/memes/ts4yow43y5221.png'/>
				</div>
				
				<div class='meme-description-wrapper'>
					
					<div class='meme-description-top'>
						<span class='meme-description-top-points'>420 points</span>
						<img class='meme-description-top-share' src='/img/icon-share.svg'/>
					</div>

					<div class='meme-description-bottom'>
						<div class='meme-description-bottom-user'>
							<img src='/img/newprofileimg.png'>
							<span>Marc Wilson</span>
						</div>
						<span class='meme-description-bottom-time'>5h</span>
					</div>
				
				</div>

			</div>
		
		</div>

		<div class='footer'>
			<div class='footer-text'>
				<span>Poviolabs,<span class='footer-text-thin'> 2018</span>
			</div>
		</div>

	</div>

  <script type="text/javascript" src="js/script.min.js"></script>

</body>